*{
    margin: 0%;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body{
    background-color:#323436;
}
h1{
    background-color:#997877;
}
p{
    background-color:#b0c4de;
}
li{
    background-color:  #b0c4de;
}
ul{
    background-color:#b0c4de;
}
label{
    background-color:rgba(42, 59, 33, 0.356);
}

header{
    background-color: white;
    padding: 20px;
}
.image-container {
    display: inline-block;
    width: 250px; /* Set the width of the circle */
    height: 250px; /* Set the height of the circle */
    overflow: hidden; /* Hide any part of the image that exceeds the circle's dimensions */
    border-radius: 50%; /* Create a circle */
}  
.image-container img {
    width: 100%; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
}
.image-container p1{
    font-size: x-larsge;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
nav ul{
    list list-style-type: none;
    margin:0;
    padding:0;
}
nav ul li{
    display: inline;
    margin-right: 10px;
}
nav ul li a{
    text-decoration: none;
    color: #333;
}
nav ul li a:hover{
    color: #4682b4;
}
main{
    background-color: antiquewhite;
    padding: 30px;
}
section{
    margin-bottom: 50px;
}
button{
    background-color:rgb(64, 85, 97) ;
   }